---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { metaData } from "@consts/metaData";
import ToastListener from "@components/ToastListener";

const { title = metaData.title, description = metaData.title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/card-thumbail.webp" />
    <meta property="og:image:alt" content="social-media-card-thumbnail" />

    <!-- <ClientRouter /> -->
  </head>
  <body>
    <ToastListener client:only="react" />
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: auto;
    width: 100%;
    height: 100%;
  }
</style>
